<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connection" connectionString="Server=59.110.217.7;Database=WeiAd;User ID=sa;Password=noas@123;Application Name=WeiAd;" providerName="DN.WeiAd.MsSqlAccess"/>
    <!--<add name="connection" connectionString="Server=.;Database=WeiAdV2;User ID=sa;Password=noas@123;Application Name=WeiAd;" providerName="DN.WeiAd.MsSqlAccess"/>-->
  </connectionStrings>
  <appSettings>
    <!--时间-->
    <add key="TimeSpan" value="3"/>
    <!--刷新地址-->
    <add key="OpenUrl" value="http://test.5000987.com/Services/AddVirData.ashx?adids=97"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>