.cartitlesmall{width:200px;height:120px;}
.cartitle145{width:145px;height:87px;}
.cartitle190{width:190px;height:120px;}
.txthide{display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.ency_wz_detail img{max-width:90%;}