
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>$Title$</title>
    <style type="text/css">
        body{margin:0;padding:0;}.var{background:#2B7AB4;display:flex;align-items:center;justify-content:space-between;padding-right:10px;}.var>div{}.warp{overflow:hidden;padding:0 10px;}.nva{margin:10px;}.nva>div>a{color:black;text-decoration:none;}.gaung strong{color:red;}h2{color:rgb(85,85,85);}.low{display:flex;align-items:center;justify-content:space-between;}.lasttime{font-style:italic;}.message{background-color:rgb(229,229,229);border-top-width:1px;border-top-style:solid;border-top-color:rgb(255,255,255);border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgb(229,229,229);}.massage>div>p{color:rgb(85,85,85);}.touxiang>img{margin-right:10px;width:28px;height:28px;left:10px;top:10px;}.name{color:rgb(0,80,136);display:inline-block;}.pai{display:flex;padding:10px;border-top:1px solid rgb(229,229,229);}.num{float:right;}.con>span{font-style:italic;}.weixin{font-weight:900;background-color:yellow;font-style:normal!important;}.weired{color:red;}
    </style>
    <script type="text/javascript">
        var webdomain = "$AdDomain$";
    </script>
    <script type="text/javascript" src="http://app.1hangye.com/Assets/Scripts/jquery-1.11.3.min.js" ></script>
    <script type="text/javascript" src="http://app.1hangye.com/Assets/Scripts/clientview.js?v=$version$"></script>
</head>
<body>
    <form id="form1">
        <div id="js_articlecontent">
        </div>
        <div id="js_articlemain"></div>     
        <div id="js_iframetest" style="display: none;">
            <span id="spanidarticle">$AdInfoId$</span>
        </div>
        <div style="display:none">
            $StaticContent$
        </div>
    </form>
</body>
</html>
