<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--服务器名称-->
    <add key="Name" value="华北二号服务器"/>
    <!--站点地址-->
    <add key="WebPath" value="E:\website\adapp"/>
    <!--站点主域名-->
    <add key="MasterDomain" value="www.baidu.com"/>
    <!--同步服务器-->
    <add key="SerDomain" value="http://localhost:54856"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>